<link href='http://fonts.googleapis.com/css?family=Mystery+Quest' rel='stylesheet' type='text/css'>

<% if @message.message_type == 'order' %>

<div class="message_header">
  <span class="messages_title">Order Form</span> <br/>
  Email: <%= emailAddress %> <br/>
  Phone: <%= phoneNumber %> <br/>
  or fill out the form below
</div>

<% else %>

<div class="message_header">
  <span class="messages_title">Contact Me</span> <br/>
  Email: <%= emailAddress %> <br/>
  Phone: <%= phoneNumber %> <br/>
  or fill out the form below
</div>

<% end %>

<%= form_for(@message) do |f| %>


  <%= f.hidden_field :message_type %>
  <table class="contact_table">
    <tr>
      <td>Name</td>
      <td colspan="3"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= f.text_field :email, :class => 'other_textfield' %></td>
      <td>Number</td>
      <td><%= f.text_field :number, :class => 'other_textfield' %></td>
    </tr>
  
  
  <% if @message.message_type == 'order' %>
    <tr>
      <td>Flavors</td>
      <td colspan="3"><%= f.text_field :flavor, :class => 'name_textfield' %></td>
    </tr>
    <tr>
      <td>Design</td>
      <td><%= f.text_field :design, :class => 'other_textfield' %></td>
      <td>Delivery Type</td>
      <td><%= f.select :delievery_type, [['Delivery'],['Pickup']] %></td>
    </tr>
    <tr>
      <td>Delivery Date</td>
      <td><%= f.text_field :delivery_date, :class => 'other_textfield date_picker_field' %></td>
      <td>Delivery Time</td>
      <td><%= f.text_field :delivery_time, :class => 'other_textfield' %></td>
    </tr>
    <tr>
      <td colspan="4">Special Instructions</td>
    </tr>
    <tr>
      <td colspan="4"><%= f.text_area :special_instruction, :class => 'message_textarea' %></td>
    </tr>
  
  <% else %>
    <tr>
      <td colspan="4">Message</td>
    </tr>
    <tr>
      <td colspan="4"><%= f.text_area :message, :class => '' %></td>
    </tr>
  
  <% end %>
  
  </table>
  
  
  <div class="actions">
    <%= f.submit 'Send', :id => 'new_message_submit_id' %>
  </div>
<% end %>

