<link href='http://fonts.googleapis.com/css?family=Mystery+Quest' rel='stylesheet' type='text/css'>

<% if @message.message_type == 'order' %>

<div class="message_header">
  <span class="messages_title">Order Form</span> <br/>
  Email: <%= emailAddress %> <br/>
  Phone: <%= phoneNumber %> <br/>
  or fill out the form below
</div>

<% else %>

<div class="message_header">
  <span class="messages_title">Contact Me</span> <br/>
  Email: <%= emailAddress %> <br/>
  Phone: <%= phoneNumber %> <br/>
  <%= link_to image_tag("facebook_icon.png", :style => "vertical-align:middle;margin:0px;"), "https://www.facebook.com/pages/Michelles-Sweet-Cakes/106051959436151", :class => 'contact_link', :target => "blank" %><br />
  or fill out the form below
</div>

<% end %>

<%= form_for(@message) do |f| %>


  <%= f.hidden_field :message_type %>
  <table class="contact_table">
    <tr>
      <td>Name</td>
      <td colspan="3"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= f.text_field :email, :class => 'other_textfield' %></td>
      <td>Number</td>
      <td><%= f.text_field :number, :class => 'other_textfield' %></td>
    </tr>
  
  
  <% if @message.message_type == 'order' %>
    <tr>
      <td>Flavors</td>
      <td colspan="3"><%= f.text_field :flavor, :class => 'name_textfield' %></td>
    </tr>
    <tr>
      <td>Guest Count</td>
      <td><%= f.text_field :design, :class => 'other_textfield' %></td>
      <td>Delivery Type</td>
      <td><%= f.select :delievery_type, [['Delivery'],['Pickup']] %></td>
    </tr>
    <tr>
      <td>Delivery Date</td>
      <td><%= f.text_field :delivery_date, :class => 'other_textfield date_picker_field' %></td>
      <td>Delivery Time</td>
      <td><%= f.text_field :delivery_time, :class => 'other_textfield' %></td>
    </tr>
    <tr>
      <td colspan="4">Special Instructions</td>
    </tr>
    <tr>
      <td colspan="4"><%= f.text_area :special_instruction, :class => 'message_textarea' %></td>
    </tr>
  
  <% else %>
    <tr>
      <td colspan="4">Message</td>
    </tr>
    <tr>
      <td colspan="4"><%= f.text_area :message, :class => '' %></td>
    </tr>
  
  <% end %>
  
  </table>
  
  <% if @message.message_type == 'order' %>
  <div class="message_div">
    Cakes are priced per person and start at $4 per serving.
  </div>
  <% end %>
  
  
  <div class="actions">
    <%= f.submit 'Send', :id => 'new_message_submit_id' %>
  </div>
  
  <% if @message.message_type == 'order' %>
  <div class="message_div" style="text-align:left; padding:10px 0;">
    <div>
      All my cakes are baked fresh, and never frozen. They get frosted in italian meringue buttercream and then covered in a thin layer of fondant.You may chose any shape or size for your cake (i.e.; round, square, multiple layers). My 3-D cakes are priced by quote only. Below is a list of flavors to choose from. But, if you don't see your favorite flavor, feel free to <%= link_to "contact me", new_message_path(:message_type => "email"), :class => 'contact_link' %> with any custom flavor ideas you have.
    </div>
    
    
    <div class="flavor_filling_wrapper">
      <div class="desc_title">
        Cake Flavors
      </div>
    
      <div>
        White almond sour cream (wedding favorite), French vanilla, Chocolate, Strawberry, Red Velvet
      </div>
    </div>
    
    <div class="flavor_filling_wrapper">
      <div class="desc_title">
        Fillings
      </div>
    
      <div>
        Buttercream, Whipped cream, Bavarian cream, Cream Cheese, White chocolate cream cheese, Chocolate cream cheese, Lemon cream, Raspberry mousse, Chocolate mousse, White chocolate mousse, Cream cheese mousse, Peanut butter mousse, Whipped cream and fresh berries
      </div>
    </div>
    
    
    
    <div style="margin:5px 0;text-align:center;">
      White chocolate flowers, bows, ribbons and strands of pearls are priced seperatly.
    </div>
    
  </div>
  <% end %>
  
  
<% end %>

