<h1>Users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |u| %>
  <tr>
    <td><%= u.username %></td>
    <td><%= u.email %></td>
    <td><%= u.admin %></td>
    <td><%= link_to 'Edit', edit_user_path(u) %></td>
    <td><%= link_to 'Destroy', u, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
