<html>
<head>

</head>

<body>

Order from website:

<br />
<br />

Name:

<br />
<span><%= @sent_email.name %></span>
<br />
<br />

Email:

<br />
<span><%= @sent_email.email %></span>
<br />
<br />

Phone Number:

<br />
<span><%= @sent_email.number %></span>
<br />
<br />

Flavors:

<br />
<span><%= @sent_email.flavor %></span>
<br />
<br />

Design:

<br />
<span><%= @sent_email.design %></span>
<br />
<br />

Delivery Type:

<br />
<span><%= @sent_email.delievery_type %></span>
<br />
<br />

Delivery Date:

<br />
<span><%= @sent_email.delivery_date %></span>
<br />
<br />

Delivery Time:

<br />
<span><%= @sent_email.delivery_time %></span>
<br />
<br />

Special Instructions:

<br />
<span><%= @sent_email.special_instruction %></span>
<br />
<br />

</body>
</html>
